{% extends 'base.html' %} {% block title %} About {% endblock title %} {% block body %}
<div class="container">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nesciunt aut possimus beatae, aliquid eum ipsam quibusdam architecto cum asperiores quidem, atque quod magnam numquam ut quaerat facilis reiciendis vel!</h1> ipsum dolor sit amet consectetur
    adipisicing elit. Saepe, eligendi iste, commodi nostrum possimus, est illo iusto rerum quidem repellendus laudantium similique veniam praesentium deleniti impedit quo blanditiis velit suscipit. </div>
{% endblock body %}